<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="/scripts/updatePost.js"></script>
  <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!-- Main CSS -->
    <link rel="stylesheet" href="/styles/form-styles.css">
    <script defer src="/scripts/updatePost.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Kalam&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <title>Update Post</title>
</head>
<body>

<!-- Nav Bar -->
<div id="nav">
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="/"><img src="https://img.icons8.com/emoji/48/000000/paw-prints.png">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Difficulty Level</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="http://localhost:5000/trails/ff">Easy</a>
            <a class="dropdown-item" href="http://localhost:5000/trails/le">Moderate</a>
            <a class="dropdown-item" href="http://localhost:5000/trails/mp">Hard</a>
          </div>
        </li>
      </ul>
      <div class="text-center">
        <a href="" class="btn btn-default btn-rounded" data-toggle="modal" data-target="#darkModalForm">Sign Up</a>
      </div>
    </div>  
  </nav> 
</div> 


<!-- Form -->
<div id="title-div">
<h1>Update your post here</h1>
</div>
<div id="update-div">
    <form id="form-update">
        <div class="form-group">
          <label for="post-title"></label>
          <input type="text" class="form-control" id="post-title" placeholder="your name" value="" size="52">
        </div>
        <div class="form-group">
          <label for="post-description"></label>
          <textarea class="form-control" id="post-description" rows="10" cols="50" placeholder="your post" value=""></textarea>
        </div>
        <button type=“submit” class="submit" value="">Submit</button>
      </form>
</div>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>