<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="/scripts/test-createPost.js"></script>
    <title>Post Update</title>
</head>
<body>
<h1>UPDATE YOUR POST</h1>
    <form>
        <div class="form-group">
          <label for="post-title">Title</label>
          <input type="text" class="form-control" id="post-title" placeholder="">
        </div>
        <div class="form-group">
          <label for="post-description">Description</label>
          <textarea class="form-control" id="post-description" rows="3"></textarea>
        </div>
      </form>
      <button>Submit</button>
</body>
</html>