<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script defer src="/scripts/createPost.js"></script> -->
    <script defer src="/scripts/updatePost.js"></script>
    <title>Post Update</title>
</head>
<body>
<h1>UPDATE YOUR POST</h1>
    <form id="form-update">
        <div class="form-group">
          <label for="post-title">Title</label>
          <input type="text" class="form-control" id="post-title" placeholder="" value="">
        </div>
        <div class="form-group">
          <label for="post-description">Description</label>
          <textarea class="form-control" id="post-description" rows="3" value=""></textarea>
        </div>
        <button type=“submit” class="submit" value="">Submit</button>
      </form>
</body>
</html>

<!--     <form action= "http://localhost:5000/trails/le" method="get" id="form-update">
 -->