body {
    background-color: lightslategrey;
    display: flex;
    flex-direction: column;
    align-content: center;
  }

#nav {
    background-blend-mode: lighten;
    width: 100%;
  }

#ff-carousel {
    height: 100%;
    width: 50%;
    margin: auto;
}

.ff-specs {
    margin-top: 1%;
    margin-left: 25%;
    margin-right: 25%;
    padding: 10px;
    border: solid 1px black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline;
    padding-right: 10px;
    font-size: medium;
  }

  /* .post-button {
    margin-left: 25%;
    margin-right: 10px;
  } */

  .post-map-container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-top: 10px;
      margin-left: 23%;
      margin-right: 25%;
  }

  /* #leash-map-pop {
    margin-right: 5%;
  } */

  .ff-scroll-box {
    /* background: rgba(244, 244, 244, 0.1); */
    /* border: 2px solid rgba(0, 0, 0, 0.1); */
    height: 22vh; /* maximum height of the box, feel free to change this! */
    width: 45vh;
    padding: 15px;
    overflow-y: scroll;
    margin: 1% 25%;
  }
